::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

ion-content {
  overflow: hidden;
  --overflow: hidden;
}

.scroll-content {
  overflow: hidden;
}

ion-list {
  background: transparent;
  transform: translateY(15vh);
  ion-item {
    --border-width: 2px;
    --border-color: black;
    --background: white;
  }
  ion-row {
    margin-bottom: 5vh;
  }
  ion-button {
    --background: #88aaee;
    --color: #000;
    width: 30vh;
    margin: auto;
    --border-radius: 0;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1.8px;
    --box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
    --padding-top: 10px;
    --padding-bottom: 10px;
    transition: transform 0.3s;
  }
  ion-button:hover {
    --box-shadow: none;
    transform: translate(3px);
    transition: transform 0.3s;
  }

  .alignItems {
    ion-checkbox,
    ion-note {
      display: inline-block;
      vertical-align: middle;
    }
    ion-checkbox {
      margin-right: 3vw;
      --size: 1.1rem;
    }
  }

  ion-col {
    ion-note {
      font-size: 0.85rem;
    }
  }
}

.backButton {
  position: absolute;
  top: 190px;
  left: 15px;
  font-size: 2rem;
}
