<ion-item
  lines="none"
  [class]="chat?.sender !== current_user_id ? 'sender' : 'user'"
>
  <ion-label
    [slot]="chat?.sender === current_user_id ? 'end' : 'start'"
    class="ion-text-wrap"
  >
    <div *ngIf="chat.imageUrl">
      <img [src]="chat?.imageUrl" />
    </div>
    <div *ngIf="chat.message">
      <ion-text>{{ chat?.message }}</ion-text>
    </div>

    <ion-note>
      <small>{{ chat?.createdAt?.toDate() | date : "HH:mm" }}</small>
      <ion-icon
        [color]="chat?.sender === current_user_id ? 'light' : 'primary'"
        name="checkmark-done-outline"
      ></ion-icon>
    </ion-note>
  </ion-label>
</ion-item>
