// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --ion-color-primary: #88aaee;
  --ion-color-light: #dfe5f2;
  --ion-color-secondary: #fd9745;
  --ion-color-tertiary: #a388ee;
  --ion-color-danger: #ff6b6b;
  --ion-color-medium: #fef2e8;
  --ion-color-warning: #ffdc58;
  --ion-color-success: #a3e636;
  --ion-color-dark: #282828;

  --font-archivo: "Archivo" !important;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
}

html {
  --ion-font-family: var(--font-archivo);
  --ion-font-weight: var(--font-weight-normal);
}
