ion-header.title-header {
  box-shadow: none !important;
  ion-toolbar {
    font-family: "Archivo", sans-serif !important;
    ion-title {
      letter-spacing: -1px;
      font-size: 1.6rem !important;
      font-weight: 700 !important;
    }
    // ion-popover {
    //   ng-template {
    //     ion-content:hover {
    //       cursor: pointer !important;
    //     }
    //   }
    // }
  }
  ion-segment {
    --background: var(--ion-color-primary);
    ion-segment-button {
      font-size: 1rem;
      --color: var(--ion-color-dark);
      --color-checked: var(--ion-color-dark);
    }
  }

  ion-content {
    ion-list {
      font-weight: 600;
      font-size: 1rem;
    }
    ion-item {
      margin-top: 2vh;
      ion-label {
        font-size: 1.2rem;
        p {
          margin-top: 3px;
        }
      }
      ion-text {
        font-size: 0.9rem;
      }
    }
  }
}

.no-shadow {
  box-shadow: none !important;
}

.full-screen-card {
  height: 100vh !important; /* Tinggi penuh viewport */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  .margin-top {
    margin-top: 70px;
  }
}
